/*------------------------------------
  Carousel indicators
------------------------------------*/

[class*="u-carousel-indicators"] {
  display: block;
  position: absolute;
  padding-left: 0;
  margin-bottom: 0;

  li {
    list-style: none;
  }

  span {
    display: block;
    cursor: pointer;
  }
}

//
// Imports
//

@import "carousel-indicators-v1";
@import "carousel-indicators-v2";
@import "carousel-indicators-v3";
@import "carousel-indicators-v4";
@import "carousel-indicators-v5";
@import "carousel-indicators-v6";
@import "carousel-indicators-v7";
@import "carousel-indicators-v8";
@import "carousel-indicators-v9";
@import "carousel-indicators-v10";
@import "carousel-indicators-v11";
@import "carousel-indicators-v12";
@import "carousel-indicators-v13";
@import "carousel-indicators-v14";
@import "carousel-indicators-v15";
@import "carousel-indicators-v16";
@import "carousel-indicators-v17";
@import "carousel-indicators-v18";
@import "carousel-indicators-v19";
@import "carousel-indicators-v20";
@import "carousel-indicators-v21";
@import "carousel-indicators-v22";
@import "carousel-indicators-v23";
@import "carousel-indicators-v24";
@import "carousel-indicators-v25";
@import "carousel-indicators-v26";
@import "carousel-indicators-v27";
@import "carousel-indicators-v28";
@import "carousel-indicators-v29";
@import "carousel-indicators-v30";
